{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new item</h1>
    {% include 'Item/_form.html.twig' %}

    <body>
    <form>
    <p>Ajoute ta question</p>
            <input type="text" name="entitled" placeholder="Titre">
            <input type="text" name="entitled" placeholder="Titre">
            <input type="text" name="entitled" placeholder="Titre">
            

            <p>Ajoute tes réponses</p>
            
            <input class="ajouter" type="submit" value="Ajouter">

    </form>
    </body>
{% endblock %}
